body {
  display: flex;
  flex-wrap: wrap;

  gap: 3rem;

  background-color: #bfffff;
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* gap: -10px; */
  /* height: auto-flow; */
  max-width: 350px;
  width: 100%;
  line-height: 1.2;
  height: 10rem;
  border: 2px solid white;
  background-color: white;
  box-shadow: 10px 10px 10px 0 grey;
  /* overflow: hidden; */
  border-radius: 5px;
  background: linear-gradient(to right, #ffc, rgb(90, 209, 199));
}
.profile {
  height: 80px;

  width: 80px;
  border-radius: 7px 7px 0 0;
  overflow: hidden;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}
button {
  padding: 8px;
  border: 2px solid rgb(22, 22, 21);
  border-radius: 5px;
  color: #fff;
  background: #baf;
  font-weight: bold;
  font-size: 15px;
  transition: 0.5s;
}
button:hover {
  cursor: pointer;
  background: #f00;
  transform: scale(0.9);
  color: #000;
}
.profile:hover {
  transform: scale(1.5);
  cursor: pointer;
  box-shadow: 0 5px 10px;
}
.details {
  margin-left: -30px;
  padding: 0 0 5px 10px;
}
